.git
.gitignore
.github

.env
.env.*
*.env

__pycache__/
**/__pycache__/
*.py[cod]

.pytest_cache/
.mypy_cache/
.ruff_cache/

.coverage
.coverage.*
htmlcov/
coverage.xml

.venv/
venv/

tests/
docs/
scripts/

.vscode/
.idea/

*.md